@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html,
body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #161622;
  font-size: 12px;
	color: #fff;
}

.todoContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todoContainer .todo {
  position: relative;
	max-width: 800px;
  min-height: 400px;
	user-select: none;
  border-radius: 20px;
  padding: 30px;
  background-color: #293659;
}

.todo .title {
  margin-bottom: 40px;
}

.listActions{
	display: flex	;
	align-items: center;
	justify-content: space-between;
	margin: 10px 10px;
}

.actionMenu button{
	font-size: 14px;
	padding: 0px 5px;
	color: #fff;
	transition: all .2s;
}
.actionMenu button:hover{
	transform: scale(1.1);
	color: #fff;
}

.listActions .info{
	font-size: 14px;
}

#addTask input{
	height: 45px;
	border-radius: 10px;
	background-color: #EEE;
	border-color: #EEE;
	padding-left: 25px;
}

.todo .todoList {
  font-size: 15px;
  margin: 40px 10px;
}

.task{
	transition: all .5s ease-in;
	margin: 15px auto;
}

.task .completed {
	text-decoration: line-through;
}

.task i{
	cursor: pointer;
	transition: .2s ease;
}
.task i:hover{
	transform: scale(1.2);
}